body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 4rem 4rem;
  background-attachment: fixed;
  background-color: #3689b5;
}

body h1 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4rem;
  background-color: #3689b5;
}

#calculator {
  margin-top: 200px;
  min-width: 450px;
  background-color: #f2f3f5;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 5px #666;
  max-width: 450px;
}

#display-area {
  background-color: #4b5461;
  position: relative;
  height: 180px;
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  flex: 0 0 auto;
}

#display {
  background-color: #c8cac7;
  color: black;
  width: 86%;
  height: 50%;
  text-align: right;
  font-size: 48px;
  font-family: monospace;
  border: 3px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;

  overflow: auto;
  white-space: nowrap;
  flex: 0 0 auto;
}

#buttons-area {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.button-row {
  display: flex; /* Use flexbox to arrange buttons horizontally */
  justify-content: space-around;
}

.button-row button {
  flex: 1 1 auto;
  margin: 5px;
  width: calc(25% - 10px);
  height: 80px;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  background-color: #4e5462;
  color: white;
  box-shadow: 3px 3px #666;
}

.button-row button:hover {
  background-color: #2e3442;
}

.button-row .button-digit {
  background-color: #6b7c8c;
}

.button-row .button-digit:hover {
  background-color: #4b5c6c;
}

#button-evaluate {
  background-color: #fe6a00;
  color: black;
}

#button-evaluate:hover {
  background-color: #de4a00;
}

#button-clearAll,
#button-clearLast {
  color: black;
  background-color: #e83f34;
}

#button-clearAll:hover,
#button-clearLast:hover {
  background-color: #c81f14;
}
